# Copy to .env before running `npm run local-action`.
# https://github.com/github/local-action
INPUT_VERSION=latest
INPUT_CHECKSUM=
INPUT_GITHUB-TOKEN=
RUNNER_TOOL_CACHE=/tmp/setup-infisical/tool-cache
RUNNER_TEMP=/tmp/setup-infisical/temp
